/* global site */


/* navbar */
#navbar .btn-primary{
    background-color: transparent !important;
    color: #eb6825;
    border: none;
}
#navbar .btn-secondary {
    background-color: #eb6825;
    border-color: orangered;
}
#navbar .btn-secondary:hover {
    background-color: white;
    color: orangered;
}
#navbar2 .nav-link:focus, .nav-link:hover{
    color: orangered !important;
}
#navbar2 .dropdown .nav-item .dropdown-menu:hover .show{
    display: block !important;
}