/* global site */
body{
    font-family: 'Roboto', sans-serif !important;
}
.font-upperCase{
    text-transform: uppercase !important;
}

/* navbar */
#navbar .btn-primary{
    background-color: transparent !important;
    color: #eb6825;
    border: none;
}
#navbar .btn-secondary {
    background-color: #eb6825;
    border-color: orangered;
}
#navbar .btn-secondary:hover {
    background-color: white;
    color: orangered;
}
#navbar ul li{
    font-size: small !important;
}
#navbar2 .nav-link:focus, .nav-link:hover{
    color: orangered !important;
}
#navbar2 .demo .nav-item:hover .dropdown-menu {
    display: block !important;
    right: 20px;
}