/* global site */


/* navbar */
#navbar .btn-primary{
    background-color: transparent !important;
    color: #eb6825;
    border: none;
}
#navbar .btn-secondary {
    background-color: #eb6825;
    border-color: orangered;
}
#navbar .btn-secondary:hover {
    background-color: white;
    color: orangered;
}
#navbar .nav-link:focus, .nav-link:hover{
    color: orangered !important;
}
#navbar.nav-item:hover .dropdown-menu.show{
    display: block !important;
}